In [2]:
print ("Hello World")

Hello World

In [3]:
#Shift + Enter - выполняет код
#Комментарий, не имеет отношения к коду

In [4]:
print ("Сегодня 11 февраля 2020 года")
print ("Завтра 12 февраля 2020 года")
print ("Вчера 10 февраля 2020 года")
print ("Сегодня началось изучение Data Science")

Сегодня 11 февраля 2020 года
Завтра 12 февраля 2020 года
Вчера 10 февраля 2020 года
Сегодня началось изучение Data Science

In [7]:
company = "Data Science"

In [8]:
course = "Сегодня началось изучение " + company
print (course)

Сегодня началось изучение Data Science

In [9]:
zp = 100000
nalog = 0.13
print(zp * nalog)

13000.0

In [10]:
print ("Моя зарплата: {zp}")

Моя зарплата: {zp}

In [11]:
print (f"Моя зарплата: {zp}")

Моя зарплата: 100000

In [12]:
print (f"Моя зарплата: {zp}, коэфф. налог = {nalog}, всего я заплачу в налоговую {zp * nalog}")

Моя зарплата: 100000, коэфф. налог = 0.13, всего я заплачу в налоговую 13000.0

In [13]:
income = [1200, 4000, 500, 900000]
print(income)

[1200, 4000, 500, 900000]

In [14]:
for i in income:
    print(f"Я заработал {i}")

Я заработал 1200
Я заработал 4000
Я заработал 500
Я заработал 900000

In [15]:
sum(income)

905700

In [16]:
len (income)

4

In [17]:
avarage_income = sum(income) / len(income)
print(f"В среднем я получаю по {avarage_income} рублей")

В среднем я получаю по 226425.0 рублей

In [23]:
usd_rate = 64
usd_zp = [i/usd_rate for i in income]

[18.75, 62.5, 7.8125, 14062.5]

In [24]:
print(usd_zp)

[18.75, 62.5, 7.8125, 14062.5]